/* ==== Google font ==== */
@import url('font-awesome.css');


.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }

.text-center i {
	font-size:40px;
	margin-top:70px;
	margin-bottom:30px;
	color:#fff;
	padding:50px;
	background:#fff;
	border-radius:50%;
}

.text-center h6{
	margin-top:20px;
	margin-bottom:20px;
	text-transform:uppercase;
	color: #33454d;
}



body{
	background:;
}

.hero-shot{
    background-image: url("../images/Myanmar-42A9805-Agriculture-LIFT-John-Rae.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;opacity: 0.8;
    filter: alpha(opacity=50);

}



.padding-normal{
	padding:48px;
}

.header{
	color:#33454d;
}
.product-category{
	height: 240px;
}

.input-field label {color: green;}



#frame {
  height: 900px;
  width: 750px;
  color:  green ;
  box-shadow: 10px 10px 50px 50px rgba(0,0,0,0.3);
  border-radius: 25px;
  background:
 no-repeat center;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;

  .row{
  	padding: 16px;
  }



.left{
      left:1%;
      }
.right{right:1%;
      }