
body{
  background: #ccff90;
}
 
.hero-shot{
    background-image: url("../images/Myanmar-42A9805-Agriculture-LIFT-John-Rae.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;opacity: 0.8;
    filter: alpha(opacity=50);

}



.padding-normal{
  padding-top:24px;
  padding-right:48px;
  padding-bottom: 24px;
  padding-left: 48px;
}

.padding-normal-sync{
  padding-top:48px;
  padding-right:48px;
  padding-bottom: 48px;
  padding-left: 48px;
}


.header{
  color:#000000;
}
.product-category{
  height: 240px;
}


/**Reviews***/


 .details{
          font-size: 20px;
        }
        article, aside,  section #reviews{ display: block }


section #reviews {
    padding-right: 85px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    width: 60%;
    margin: auto;
    margin-top: -20px;
    border-radius: 5px;
    border: 1px solid #666;
}

.comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    margin-left: 40px;
    *zoom: 1;
    width: 100%;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.comment-img img { display: block }

.comment-body { overflow: hidden }

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.comment .text p:last-child { margin: 0 }

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

/* Decoration */

.comments, .comment { position: relative }

.comments:before, .comment:before, .comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.comments:before {
    width: 3px;
    left: 105px;
    bottom: 0px;
    background: rgba(0,0,0,0.1);
}

.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
}

.comment:hover {
    /*  cursor: url('../images/FB_CUR.cur');  See the result on http://lab.web-gate.fr/timeline/ */ 
    cursor: cell; /* This line is for the cursor */
}

.comment:hover:before { background: #3b5998 }

.comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}


/* rating starts css start
animation
*/

@-webkit-keyframes loader {
  0% {
    width: 0;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

@-moz-keyframes loader {
  0% {
    width: 0;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes loader {
  0% {
    width: 0;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
@-ms-keyframes loader {
  0% {
    width: 0;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
@keyframes loader {
  0% {
    width: 0;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}


.score{
    color: rgb(51, 51, 51);
    height: 64px;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-rendering: optimizelegibility;
    white-space: nowrap;
    word-break: break-word;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 100 64px/64px Roboto, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}
/*Rating starts with SVG*/

.rating-stars input {
  margin-top: 1rem;
  display:none;
}
.rating-stars #star-1:checked ~ section [for='star-1'] svg, .rating-stars #star-2:checked ~ section [for='star-1'] svg, .rating-stars #star-2:checked ~ section [for='star-2'] svg, .rating-stars #star-3:checked ~ section [for='star-1'] svg, .rating-stars #star-3:checked ~ section [for='star-2'] svg, .rating-stars #star-3:checked ~ section [for='star-3'] svg, .rating-stars #star-4:checked ~ section [for='star-1'] svg, .rating-stars #star-4:checked ~ section [for='star-2'] svg, .rating-stars #star-4:checked ~ section [for='star-3'] svg, .rating-stars #star-4:checked ~ section [for='star-4'] svg, .rating-stars #star-5:checked ~ section [for='star-1'] svg, .rating-stars #star-5:checked ~ section [for='star-2'] svg, .rating-stars #star-5:checked ~ section [for='star-3'] svg, .rating-stars #star-5:checked ~ section [for='star-4'] svg, .rating-stars #star-5:checked ~ section [for='star-5'] svg {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.rating-stars #star-1:checked ~ section [for='star-1'] svg path, .rating-stars #star-2:checked ~ section [for='star-1'] svg path, .rating-stars #star-2:checked ~ section [for='star-2'] svg path, .rating-stars #star-3:checked ~ section [for='star-1'] svg path, .rating-stars #star-3:checked ~ section [for='star-2'] svg path, .rating-stars #star-3:checked ~ section [for='star-3'] svg path, .rating-stars #star-4:checked ~ section [for='star-1'] svg path, .rating-stars #star-4:checked ~ section [for='star-2'] svg path, .rating-stars #star-4:checked ~ section [for='star-3'] svg path, .rating-stars #star-4:checked ~ section [for='star-4'] svg path, .rating-stars #star-5:checked ~ section [for='star-1'] svg path, .rating-stars #star-5:checked ~ section [for='star-2'] svg path, .rating-stars #star-5:checked ~ section [for='star-3'] svg path, .rating-stars #star-5:checked ~ section [for='star-4'] svg path, .rating-stars #star-5:checked ~ section [for='star-5'] svg path {
    fill: #fffc0a;
    stroke: #000000;
}
.rating-stars section {
  width: 300px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.rating-stars section label {
  display: inline-block;
  width: 12%;
  text-align: center;
  cursor: pointer;
}
.rating-stars section label svg {
  width: 100%;
  height: auto;
  fill: #f5f5f5;
  stroke: #444;
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -moz-transition: -webkit-transform 200ms ease-in-out;
  -o-transition: -webkit-transform 200ms ease-in-out;
  -ms-transition: -webkit-transform 200ms ease-in-out;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
}
.rating-stars section label svg path {
  -moz-transition: fill 200ms ease-in-out, stroke 100ms ease-in-out;
  -o-transition: fill 200ms ease-in-out, stroke 100ms ease-in-out;
  -ms-transition: fill 200ms ease-in-out, stroke 100ms ease-in-out;
  -webkit-transition: fill 200ms ease-in-out, stroke 100ms ease-in-out;
  transition: fill 200ms ease-in-out, stroke 100ms ease-in-out;
}
.rating-stars section label[for="star-null"] {
  display: block;
  margin: 0 auto;
  color: #999;
}
.rating-stars,.start-value{
    display: inline-block;
    width: 100%;
    height: 22px;
    position: relative;
    text-align: center;
    margin-top: 12px;
}
.start-value{
  margin-top: -8px;
}
.start-value .item,.start-value .wotes{
    display: none;
}
/* rating starts css start*/
.reviews-stats{
  color: rgb(141, 141, 141);
    height: 21px;
    text-align: center;
    white-space: nowrap;
    word-break: break-word;
    border: 0px none rgb(141, 141, 141);
    font: normal normal 300 12px/18px Roboto, Arial, sans-serif;
    outline: rgb(141, 141, 141) none 0px;
}
.reviewers-small{
    background-position: 50% 50%;
    color: rgb(141, 141, 141);
    display: inline-block;
    height: 16px;
    position: relative;
    text-align: center;
    top: 3px;
    white-space: nowrap;
    width: 16px;
    word-break: break-word;
    background: rgba(0, 0, 0, 0) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAaUlEQVQ4y2P4//8/AyWYYXAZAAPl5eUCQLwBiP9DMYgtQIoBC5A0w/ACUgw4gMWAA3Q1IACLAQFEGwA1xACIG6DYACRGqgEOyJgoA6C2bsDifOToNMBnwAc8mmH4Az4D/hODB3FeIAcDAOCAkSuzHR61AAAAAElFTkSuQmCC) no-repeat scroll 50% 50% / auto padding-box border-box;
    border: 0px none rgb(141, 141, 141);
    font: normal normal 300 12px/18px Roboto, Arial, sans-serif;
}
.reviews-num{
  color: rgb(141, 141, 141);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  word-break: break-word;
  border: 0px none rgb(141, 141, 141);
  font: normal normal 300 12px/18px Roboto, Arial, sans-serif;
  outline: rgb(141, 141, 141) none 0px;
}
/*Right side of hreview*/
.rating-histogram{
  color: rgb(51, 51, 51);
  position:relative;
  text-align: left;
  text-decoration: none;
  text-rendering: optimizelegibility;
  vertical-align: top;
  white-space: nowrap;
  word-break: break-word;
  border: 0px none rgb(51, 51, 51);
  font: normal normal 300 12px/18px Roboto, Arial, sans-serif;
  outline: rgb(51, 51, 51) none 0px;
  padding: 0;
}
.rating-histogram .row{
   margin-bottom: 0px;
}
.rating-bar-container{
  color: rgb(115, 115, 115);
  height: 23px;
  position: relative;
  text-align: left;
}
.bar-label{
  color: rgb(115, 115, 115);
  display: block;
  height: 18px;
  left: -30px;
  letter-spacing: 1px;
  position: absolute;
  text-align: left;
  top: 4px;
  width: 23px;
}
.star-tiny{
  color: rgb(115, 115, 115);
  display: inline-block;
  height: 16px;
  letter-spacing: 1px;
  position: relative;
  text-align: left;
  top: -1px;
  vertical-align: middle;
  white-space: nowrap;
  width: 16px;
  word-break: break-word;
  background: rgba(0, 0, 0, 0) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAdElEQVQoz2P4//8/AzmYgWKN6KC4uDgBhGF8UjQ+AGGSNEJt+w/FCXg1AhUUAHEDEB8A4g9IGj9AxUByBdg0LkBSjAsvwOpUApoX4PUjUMEFLJouEAwcSjTCFB+AYjAfr0agAgNo/AUgGRQAFTOgbpIjFQMAtcfKBD81ItYAAAAASUVORK5CYII=) repeat scroll 0% 0% / auto padding-box border-box;
  font: normal normal normal 11px/18px Roboto, Arial, sans-serif;
}
.bar {
  color: rgb(115, 115, 115);
  display: inline-block;
  height: 23px;
  opacity: 0.800000011920929;
  text-align: left;
  z-index: 0;
  border: 0px none rgb(115, 115, 115);
  font: normal normal normal 12px/18px Roboto, Arial, sans-serif;
  outline: rgb(115, 115, 115) none 0px;
  transition: width 0.25s ease 0s;
}
.five .bar{
  background: rgb(136, 177, 49) none repeat scroll 0% 0% / auto padding-box border-box;
  animation: loader 2s ease;
  width: 100%;
}
.four .bar{
  background: rgb(153, 204, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    animation: loader 2s ease;
  width: 100%;
}
.tree .bar{
  background: rgb(255, 207, 2) none repeat scroll 0% 0% / auto padding-box border-box;
    animation: loader 2s ease;
  width: 100%;
}
.two .bar{
  background: rgb(255, 159, 2) none repeat scroll 0% 0% / auto padding-box border-box;
  animation: loader 2s ease;
  width: 100%;
}
.one .bar{
  background: rgb(255, 111, 49) none repeat scroll 0% 0% / auto padding-box border-box;
  animation: loader 2s ease;
  width: 10%;
}
.bar-number{
    color: rgb(51, 51, 51);
    display: block;
    height: 18px;
    left: 5px;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-rendering: optimizelegibility;
    top: 4px;
    white-space: nowrap;
    width: 26px;
    word-break: break-word;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 11px/18px Roboto, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}
/* rating starts css start*/


.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }

.text-center i {
	font-size:40px;
	margin-top:70px;
	margin-bottom:30px;
	color:#fff;
	padding:50px;
	background:#fff;
	border-radius:50%;
}

.text-center h6{
	margin-top:20px;
	margin-bottom:20px;
	text-transform:uppercase;
	color: #33454d;
}


.input-field label {color: green;}



#frame {
  height: 900px;
  width: 750px;
  color:  green ;
  box-shadow: 10px 10px 50px 50px rgba(0,0,0,0.3);
  border-radius: 25px;
  background:
 no-repeat center;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;

  .row{
  	padding: 16px;
  }



.left{
      left:1%;
      }
.right{right:1%;
      }



      /***--------------dialog box------------*/
      .dialog,
.dialog__overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.dialog {
  position: fixed;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  pointer-events: none;
}

.dialog__overlay {
  position: absolute;
  z-index: 1;
  background: rgba(55, 58, 71, 0.9);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-backface-visibility: hidden;
}

.dialog--open .dialog__overlay {
  opacity: 1;
  pointer-events: auto;
}

.dialog__content {
  width: 50%;
  max-width: 560px;
  min-width: 290px;
  background: #fff;
  padding: 4em;
  text-align: center;
  position: relative;
  z-index: 5;
  opacity: 0;
}

.dialog--open .dialog__content {
  pointer-events: auto;
}

/* Content */
.dialog h2 {
  margin: 0;
  font-weight: 400;
  font-size: 2em;
  padding: 0 0 2em;
  margin: 0;
}



.dialog--open .dialog__overlay {
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.dialog--close .dialog__overlay {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.dialog__content {
  padding: 0;
  background: transparent;
}

.dialog.dialog--open .dialog__content {
  opacity: 1;
}

.morph-shape {
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: -2px;
  left: -2px;
  z-index: -1;
}

.morph-shape svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 1680;
}

.dialog--open .morph-shape svg rect {
  -webkit-animation: anim-dash 0.6s forwards;
  animation: anim-dash 0.6s forwards;
}

.dialog-inner {
  opacity: 0;
  background: #fff;
}

.dialog--open .dialog-inner {
  padding: 4em;
  opacity: 1;
  -webkit-transition: opacity 0.85s 0.35s;
  transition: opacity 0.85s 0.35s;
}

.dialog.dialog--open h2 {
  -webkit-animation: anim-elem-1 0.7s ease-out both;
  animation: anim-elem-1 0.7s ease-out both;
}

.dialog.dialog--open button {
  -webkit-animation: anim-elem-2 0.7s ease-out both;
  animation: anim-elem-2 0.7s ease-out both;
}